#shell-container {
    display: none;
    height: 400px;
    width: 100%;
    opacity: 0.9;
    background-color: #002f05;
    color: #00fe00;
    position: fixed;
    padding: 0px 20px 20px 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 0.9em;
}
#shell-panel {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 98%;
}
#shell-status {
    position: absolute;
    left: 0;
    bottom: 0;
}
ul.widelist li {
    float: left;
    list-style: none;
    width: 33%;
}
.clear {
    clear: both;
}
.userinfo img {
    float: right;
}
.userinfo table {
    width: 75%;
}