#shell-panel {
    height: 300px;
    width: 100%;
    background-color: #002f05;
    color: #00fe00;
    padding: 20px 20px 20px 20px;
    font-family: 'Source Code Pro';
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px dashed #E6EBE0;
}
ul.widelist li {
    float: left;
    list-style: none;
    width: 50%;
}